.signin {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 30rem;
    align-items: center;
}

.signin-hero {
    height: 100%;
    background-image: url('../assets/auth/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.signin-auth-section {
    display: grid;
    grid-template-rows: 1fr 32rem 1fr;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0 3rem;
    align-items: center;
    justify-content: center;
}

.signin-auth {
    display: grid;
    width: 20rem;
    margin: auto;
    align-items: center;
}

.auth-title {
    font-size: 3.5rem;
    font-weight: 600;
}

.auth-title > p {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.auth-options-container {
    width: 20rem;
    display: grid;
    gap: 1rem;
}

.auth-form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.auth-form-button {
    border: none;
    background-color: #3f51b5;
    color: white;
    height: 2rem;
    border-radius: 4px;
    height: 3rem;
    width: 100%;
    cursor: pointer;
}

.auth-input {
    height: 3rem;
}

.auth-redirect {
    margin: 1rem 0 0;
}

.auth-redirect-button {
    margin-top: 2rem;
}

.auth-redirect-home-container {
    display: grid;
    align-self: end;
    padding-bottom: 2rem;
}

.auth-redirect-home {
    text-align: right;
    cursor: pointer;

}

.auth-redirect-home:hover {
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
}
