.dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 30rem;
    align-items: center;
    background-color: var(--clr-offwhite);
}
.dashboard-sidebar {
    height: 100vh;
    border: 1px solid black;
    padding: 0 3rem;
}

.dashboard-sidebar-profile-container{
    padding: 2rem 0;
    display: grid;
    justify-items: center;
}

.dashboard-sidebar-profile-img {
    border-radius: 50%;
    width: 15rem;
}

.dashboard-sidebar-button-container {
    display: flex;
    gap: 1rem;
}

.dashboard-sidebar-button {
    border: none;
    background-color: #3f51b5;
    color: var(--clr-white);
    border-radius: 4px;
    height: 3rem;
    width: 100%;
    cursor: pointer;
}

.google-map {
    height: 40rem;
    width: 100%;
    margin: auto;
}

.google-maps :hover {
    cursor: pointer
}

.dashboard-main{
    height: 100vh;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    border: 1px solid black;
}