.dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 30rem;
    align-items: center;
    background-color: var(--clr-offwhite);
}
.dashboard-sidebar {
    height: 100vh;
    border: 1px solid black;
    padding: 0 3rem;
}

.dashboard-sidebar-profile-container{
    padding: 2rem 0;
    display: grid;
    justify-items: center;
}

.dashboard-sidebar-profile-img {
    border-radius: 50%;
    width: 15rem;
}