.sidebar-friends-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    align-content: space-around;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    background-color: var(--clr-offwhite);
}

.friends-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    align-content: space-around;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    background-color: var(--clr-offwhite);
}

.sidebar-friends-list-item,
.friends-list-item {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--clr-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    margin: auto;
}

.sidebar-friends-list-item {
    width: 100%;
}

.sidebar-friends-list-item > p {
    text-align: center;
}

.sidebar-friends-list-profile-image {
    width: 3.5rem;
    border-radius: 50%;
}

.friends-list-profile-image {
    width: 3rem;
    border-radius: 50%;
}

.friends-list-item {
    background-color: var(--clr-white);
    width: calc(100% - 2rem);
    margin: auto;
}

.friends-list-item-profile {
    width: 33%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.friends-list-item {
    display: grid;
    grid-template-columns: 5rem, 10rem, 1fr;
}

.friends-list-item-button {
    display: grid;
    justify-self: end;
}

.friends-list-item-button-btn {
    border: none;
    background-color: #3f51b5;
    color: var(--clr-white);
    border-radius: 4px;
    height: 3rem;
    width: 7rem;
    cursor: pointer;
}

.friends-list-container{
    height: 100%;
    overflow-y: auto;
    background-color: var(--clr-offwhite);
}