header {
    height: 4.5rem;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header-site-link {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
}

.header-auth-link {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.auth-button {
    width: 7rem;
    padding: 0.6rem 0;
    border-radius: 4px;
    color: var(--clr-white);
    text-align: center;
    cursor: pointer;
}

.auth-button-login {
    background-color: var(--clr-sec-purple);
}

.auth-button-register {
    background-color: var(--clr-sec-orange);
}
