.home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 30rem;
    align-items: center;
    background-color: var(--clr-offwhite);
}

.home-hero {
    height: 100vh;
    background: url(../assets/home/home-hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-hero-text-container {
    height: 100%;
    display: grid;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4)
}

.home-hero-text {
    color: white;
    font-size: 8rem;
    margin: 0 3rem;
}

.home-sidebar {
    height: 100%;
    width: 20rem;
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    align-items: center;
    background-color: var(--clr-offwhite);
    margin: auto;
}

.home-sidebar-action {
    display: grid;
    align-self: center;
}

.home-sidebar-text > p {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: left;
}

.home-sidebar-conditional-section-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: left;
}

.home-sidebar-button {
    border: none;
    background-color: #3f51b5;
    color: var(--clr-white);
    border-radius: 4px;
    height: 3rem;
    width: 100%;
    cursor: pointer;
}

.home-auth-link {
    display: grid;
    gap: 1rem;
    margin: 2rem 0;
}