.home {
    height: 90vh;
    margin: auto;
}

.home > header {
    padding: 0 4rem;
    background-color: transparent;

    color: #021e40;
    font-weight: 700;
}

.home-hero {
    height: 45rem;
    width: 1440px;
    margin: auto;

    background: url(../assets/img/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 4px;
}

.home-hero-text-container {
    height: 100%;
    width: 1440px;
    margin: auto;

    display: grid;
    align-items: center;
}

.home-hero-text {
    color: white;
    font-size: 8rem;
    margin: 0 4rem;
}

.home-call-action {
    height: 7rem;
    width: 1080px;
    margin: auto;
    padding: 0 2.4rem;

    transform: translateY(-50%);
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 20rem;
    align-items: center;

    background-color: white;
    border-radius: 4px;
}

.home-call-action-text {
    font-size: 1.5rem;
}

.home-call-action-auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    gap: 1rem;
}

.home-auth-button {
    width: 7rem;
    padding: 0.6rem 0;

    background-color: rgba(185, 184, 184, 0.6);
    border-radius: 4px;

    text-align: center;
    cursor: pointer;
}
