.oauth-logo {
    height: 2.5rem;
}

.oauth-provider {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 4px;
    height: 3rem;
    padding: 4px;
}

.oauth-provider:hover {
    cursor: pointer;
}

.oauth-provider-google {
    color: grey;
    font-weight: 600;
    border: 1px solid grey;
}

.oauth-text {
    text-align: center;
}
